@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: Paper Surface
    Description: Background surface that can be used to render inside of.
*@


<div style="display: inline-flex; padding: 2rem 5rem; gap: 2rem; background-color: #f3f3f3;">
    <AePaper Elevation="0" style="width: 200px; height:  200px;" />
    <AePaper style="width: 200px; height:  200px;" />
    <AePaper Elevation="3" style="width: 200px; height:  200px;" />
    
</div>