

@namespace AElemental.Components
@inherits HtmlElement

<div class="ae row @(Center? " center": "" ) @_inputClass">@ChildContent</div>

@code {
    [Parameter]
    public bool Center { get; set; }
}