@namespace AElemental.Components
@inherits HtmlElement

<ae-layout style="@_layoutStyle">
    <CascadingValue Value="@(this)">
        @if (TopBar != null)
        {
            @TopBar
        }
        @if (SideBar != null)
        {
            @SideBar
        }
        <main data-floating-menu-container style="@_mainStyle">
            @ChildContent
        </main>
    </CascadingValue>
</ae-layout>

@code {

    private string? _classname;

    private string? _layoutStyle;
    private string? _mainStyle;


    [Parameter]
    public RenderFragment? TopBar { get; set; }

    [Parameter]
    public RenderFragment? SideBar { get; set; }

    [Parameter]
    public string TopMargin { get; set; } = "3rem";

    [Parameter]
    public string SideMargin { get; set; } = "16rem";


    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        _layoutStyle = new AeStyleBuilder()
            .AddStyle("font-family", "'Open Sans', sans-serif;")
            .AddStyleFromAttributes(InputAttributes)
            .NullIfEmpty();

        _mainStyle = new AeStyleBuilder()
            .AddStyle("position", "relative")
            .AddStyle("margin-left", SideMargin, SideBar != null)
            .AddStyle("margin-top", TopMargin, TopBar != null)
            .NullIfEmpty();

        _classname = new AeCssClassBuilder()
            .AddClassFromAttributes(InputAttributes)
            .NullIfEmpty();
    }

}