@*
    Copyright (c) 2020 Apption Corporation

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Title: Paper Elevations
    Description: You can specify the elevation of the paper which will affect the "height" of the paper.
*@


<div style="display: flex; gap: 1rem;">
    <AePaper Elevation="0" style="width: 128px; height:  128px;"/>
    <AePaper Elevation="1" style="width: 128px; height:  128px;"/>
    <AePaper Elevation="2" style="width: 128px; height:  128px;"/>
    <AePaper Elevation="3" style="width: 128px; height:  128px;"/>
    <AePaper Elevation="4" style="width: 128px; height:  128px;"/>
    <AePaper Elevation="5" style="width: 128px; height:  128px;"/>
</div>